[submodule "modules/Funcational-Java"]
	path = modules/Funcational-Java
	url = https://github.com/qoncept/Funcational-Java
[submodule "modules/Tuple-Java"]
	path = modules/Tuple-Java
	url = https://github.com/qoncept/Tuple-Java.git
