[submodule "modules/Tuple-Java"]
	path = modules/Tuple-Java
	url = https://github.com/qoncept/Tuple-Java.git
[submodule "modules/Functional-Java"]
	path = modules/Functional-Java
	url = https://github.com/qoncept/Functional-Java.git
